.dias_semana {
  background-color: #44dd9d;
  font-size: 2em;
}

.horarios {
  background-color: #44dd9d;
}

.finde_semana {
  background-color: #868bd8;
  font-size: 2em;
}

.horarios_finde {
  background-color: #868bd8;
}
